<!DOCTYPE html>
<html lang="en" class="h-100" ng-app="DataManagerApp">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
  <ng-include src="'/html/header.html'"></ng-include>
  <script src="/js/data.js"></script>
    <main role="main" class="flex-shrink-0">  
        <div class="container" style="margin-top: 60px;">
            <div class="text-center">
                <h1>Welcome to your Blog Site!</h1>
                <p>This Blog Site is developed in the purpose to check IT-Security on Web-Applications.</p>
                <p>Here you can create, edit or delete your Posts!</p>
                <p>Have fun!</h3>
            </div>

            <div ng-controller="LoginController">
                <div ng-if="data.length<1">
                    <div class="text-center">
                        <h1 style="margin-top: 40px;">Ough you found a site that's only possible to use by Users!</h1>
                        <h1>Log in or registrate above to use this site!</h1>
                        <br>
                    </div>
                </div>
                <div ng-if="data.length>=1">
                    <div class="text-center">
                        <h1 style="margin-top: 40px;">Add a new Blog Entry:</h1>
                        <br>
                        <div class="container">
                            <div class="col-6 mx-auto">
                              <div class="text-center">
                                <form method="POST" action="/api/createBlogEntry">
                                  <div class="form-group">
                                    <label for="exampleFormControlInput1">Enter New Blogentry</label>
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="exampleFormControlInput1"
                                      placeholder="blogentry"
                                      name="blogentry"
                                    />
                                  </div>
                                  <input class="form-control" type="submit" value="Add new global Blogentry"/>
                                </form>
                              </div>
                            </div>
                        </div>
                        <h1 style="margin-top: 40px;">Your recent Blog Entries: </h1>
                        <br>
                        <div ng-controller="BlogDataUserController">
                            <div ng-repeat="blogentry in data | orderBy:'-idblogentry'" class="shadow-lg p-3 mb-5 bg-white rounded">
                                <p>Blogentry Nr. {{blogentry.idblogentry}}</p>
                                <p>{{blogentry.blogtext}}</p>
                                <p>
                                    <span>                                        
                                        <form method="POST" action="/api/editBlogEntry">
                                            <div class="form-group">
                                            <label for="exampleFormControlInput1">Enter New Blogentry</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                id="exampleFormControlInput1"
                                                value="{{blogentry.blogtext}}"
                                                name="newblogentry"
                                            />
                                            <input
                                                type="hidden"
                                                id="custId"
                                                name="blog_id"
                                                value={{blogentry.idblogentry}}
                                            />
                                            </div>
                                            <input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Submit Edit"/>
                                        </form>
                                        <button
                                        class="btn btn-secondary my-2 my-sm-0"
                                        style="margin-top: 40px;"
                                        type="submit"
                                        title="Delete Entry"
                                        ng-click="delete(blogentry.idblogentry)">
                                        Delete
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>